<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/JAVA/workspace/tester/testng">
        <classes>
            <class name="com.test.testng.src.main.java.TC_testuser_local_001">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="com.test.testng.src.main.java.TC_testuser_local_002">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>